* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
}
.cont{background-color: #d5e1ef;}
.cont1 {
    height: 96vh;
    
        
}

.qrbox {
    height: 94%;
    
    background-color: #f6f6f6;
    border-radius: 25px;
}

.magi{
    width: 95%;
    height: 59%;
    background-image: url("./images/image-qr-code.png");
    border-radius: 25px;
    margin:2%;
    background-size: cover;
    background-position: center;
}



.high{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: clamp(1.188rem, 1.811vw, 1.5rem);
    letter-spacing: 0.076vw;
    opacity: 0.95;
    margin: 5% 0% 0% 0%;
}

.undrtxt{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(14.5px, 1.328vw, 17.6px);
    opacity: 0.75;
    margin: 3% 0 2% 2%;
}

@media only screen and (min-width: 600px) and (max-width: 767px){
    .qrbox {
        width: 55%;
    }
}

@media only screen and (max-width: 399px) {
    .qrbox {
        width: 92%;
    }

}